# Dependencies
node_modules/

# Claude Code local settings
.claude/
.superpowers/

# TaleSpire local storage (user save data)
.localStorage/

# Dependencies
node_modules/

# Kilo Code local settings
.kilo/

# Pi Coding Agent
.pi/

# Design Documents
_DOCS

# Generic Agent files
.agents/

# Prettier Extension
.prettier*